@use "@wordpress/base-styles/colors" as wordpress;

.gutenberg-kit-offline-indicator {
	align-items: center;
	background-color: wordpress.$gray-200;
	color: wordpress.$gray-800;
	display: flex;
	font-size: 13px;
	gap: 4px;
	justify-content: center;
	line-height: 1;
	padding: 8px 16px;

	svg {
		fill: wordpress.$gray-800;
	}
}
