.gutenberg-kit-editor-interface {
	padding: 0px 16px 56px 16px;
	-webkit-tap-highlight-color: transparent; // Rely upon UI components to communicate touch feedback
}

.gutenberg-kit-editor-interface__load-notice {
	bottom: 62px;
	left: 16px;
	position: fixed;
	right: 16px;
}

// Disable focus outline that is irrelevant for touch devices
.gutenberg-kit-editor-interface .components-button:focus:not(:disabled) {
	box-shadow: none;
	outline: 0;
}
