.gutenberg-kit-editor-interface {
	-webkit-tap-highlight-color: transparent; // Rely upon UI components to communicate touch feedback
	flex-grow: 1;
}

.gutenberg-kit-editor-interface__load-notice {
	bottom: 62px;
	left: 16px;
	position: fixed;
	right: 16px;
}
