.gutenberg-kit-editor .editor-styles-wrapper {
	padding: 0px 16px 56px 16px;
	min-height: 100vh;
}

.gutenberg-kit-editor__toolbar {
	align-items: center;
	bottom: 0;
	left: 0;
	overflow-x: auto;
	position: fixed;
	right: 0;
}

.gutenberg-kit-editor__toolbar .block-editor-block-contextual-toolbar {
	width: auto;
}

.gutenberg-kit-editor .components-editor-notices__snackbar {
	bottom: 58px;
	left: 0;
	padding-right: 8px;
	padding-left: 8px;
	position: fixed;
	right: 0;
}
