.gutenberg-kit-editor {
	box-sizing: border-box;
	flex-shrink: 0;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	min-width: 300px;
	position: relative;
	width: 100%;
}

.gutenberg-kit-editor .editor-styles-wrapper {
	// Ensure the toolbar does not overlap the content
	padding-bottom: 56px;
	// Remove outline to mirror default user agent styles for body elements, which
	// is the element used for Gutenberg's iframed editor
	outline: none;
}

// Apply root level padding for themes that do not use the experimental
// `useRootPaddingAwareAlignments` settings
.gutenberg-kit-editor.has-root-padding .editor-styles-wrapper {
	padding-left: 16px;
	padding-right: 16px;
}

.gutenberg-kit-editor__toolbar {
	align-items: center;
	bottom: 0;
	left: 0;
	overflow-x: auto;
	position: fixed;
	right: 0;
	z-index: 10; // Ensure the toolbar is above the block canvas
}

// HACK: Force a full-width inserter, consider replacing with a better inserter
// popover implementation in the future.
.gutenberg-kit-editor .block-editor-inserter__main-area {
	width: 100%;
}

.gutenberg-kit-editor .components-editor-notices__snackbar {
	bottom: 58px;
	left: 0;
	padding-right: 8px;
	padding-left: 8px;
	position: fixed;
	right: 0;
}

// Manually copy styles required by Gutenberg that are provided by the WP Admin
// environment in the form of the `load-styles.php` utility.
// https://github.com/WordPress/wordpress-develop/blob/a82874058f58575dbba64ce09b6dcbd43ccf5fdc/src/wp-admin/css/common.css#L2617-L2621
.gutenberg-kit-editor :where(fieldset) {
	border: 0;
	padding: 0;
	margin: 0;
}
