.gutenberg-kit-visual-editor {
	box-sizing: border-box;
	flex-shrink: 0;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	min-width: 300px;
	position: relative;
	width: 100%;
}

// TODO: Replace this `display` style--which ensures children margins are
// contained, rendering the background color behind them--with a proper fix in
// core.
//
// See the following related changes:
// - https://github.com/WordPress/gutenberg/pull/66706
// - https://github.com/WordPress/gutenberg/pull/66390
.gutenberg-kit-visual-editor .block-editor-block-canvas {
	display: flex;
}

.gutenberg-kit-visual-editor .editor-styles-wrapper {
	// Ensure the toolbar does not overlap the content
	padding-bottom: 56px;
	// Remove outline to mirror default user agent styles for body elements, which
	// is the element used for Gutenberg's iframed editor
	outline: none;
	// TODO: Ideally we resolve this in Gutenberg core. Ensures the styles wrapper
	// fills its parent container.
	//
	// See: https://github.com/WordPress/gutenberg/pull/66706
	width: 100%;
}

// Apply root level padding for themes that do not use the experimental
// `useRootPaddingAwareAlignments` settings
.gutenberg-kit-visual-editor.has-root-padding .editor-styles-wrapper {
	padding-left: 16px;
	padding-right: 16px;
}

// Prevent horizontal scroll in the block inserter popover. This only appears to
// occur on touch devices, not cursor devices.
// TODO: Fix this in core and remove the styles.
.gutenberg-kit-visual-editor
	.block-editor-inserter__popover
	.components-popover__content {
	overflow-x: hidden !important; // `!important` required to override inline styles
}

// Hide the inline block appendar button, as its positioning and size is not
// ideal for small screens
.gutenberg-kit-visual-editor
	.block-editor-default-block-appender
	.block-editor-inserter__toggle.components-button.has-icon {
	display: none;
}

// Apply an admittedly problematic workaround for a bug in responsive images.
// This should be removed once the bug is fixed in core.
// https://github.com/WordPress/gutenberg/issues/38381#issuecomment-1099194060
.gutenberg-kit-visual-editor .wp-block-image > div:first-child {
	height: auto;
	max-width: 100%;
}

// Ensure unsupported blocks do not overflow the block canvas
.gutenberg-kit-visual-editor .wp-block-missing {
	max-width: 100%;
	overflow: hidden;
}

.gutenberg-kit-visual-editor .wp-block-missing img {
	height: auto;
	max-width: 100%;
}

.gutenberg-kit-visual-editor__toolbar {
	align-items: center;
	bottom: 0;
	left: 0;
	overflow-x: auto;
	position: fixed;
	right: 0;
	z-index: 40; // Ensure the toolbar is above the block canvas and its controls
}

// HACK: Force a full-width inserter, consider replacing with a better inserter
// popover implementation in the future.
.gutenberg-kit-visual-editor .block-editor-inserter__main-area {
	width: 100%;
}

// Hide the inserter popover displayed between blocks when hovering between
// blocks or hovering over a block type in the inserter. Its presence is less
// useful for touch devices and steals focus away from the inserter, which
// results in needing to tap a block type twice to insert it.
.gutenberg-kit-visual-editor .block-editor-block-popover {
	display: none;
}

// Manually copy styles required by Gutenberg that are provided by the WP Admin
// environment in the form of the `load-styles.php` utility.
// https://github.com/WordPress/wordpress-develop/blob/a82874058f58575dbba64ce09b6dcbd43ccf5fdc/src/wp-admin/css/common.css#L2617-L2621
.gutenberg-kit-visual-editor :where(fieldset) {
	border: 0;
	padding: 0;
	margin: 0;
}

// TODO: Styles improving small-screen layout. Ideally we instead improve
// Gutenberg itself or implement our own error boudnary--including matching copy
// content/error functionality.
.editor-error-boundary {
	margin-left: 16px;
	margin-right: 16px;
}
