// Manually added styles that are missing from the editor settings, likely
// because the styles are injected by the WP Admin context, which is not present
// in the REST API endpoint.
:root :where(.is-layout-flow) > :first-child {
	margin-block-start: 0;
}
:root :where(.is-layout-flow) > :last-child {
	margin-block-end: 0;
}
:root :where(.is-layout-flow) > * {
	margin-block-start: 1.2rem;
	margin-block-end: 0;
}
:root :where(.is-layout-constrained) > :first-child {
	margin-block-start: 0;
}
:root :where(.is-layout-constrained) > :last-child {
	margin-block-end: 0;
}
:root :where(.is-layout-constrained) > * {
	margin-block-start: 1.2rem;
	margin-block-end: 0;
}
