.gutenberg-kit-layout__snackbar {
	bottom: 58px;
	left: 0;
	padding-right: 8px;
	padding-left: 8px;
	position: fixed;
	right: 0;
}

.gutenberg-kit-layout__load-notice {
	bottom: 62px;
	left: 16px;
	position: fixed;
	right: 16px;
}
