.gutenberg-kit-layout__snackbar {
	bottom: 58px;
	inset-inline: 0;
	padding-inline: 8px;
	position: fixed;
}

.gutenberg-kit-layout__load-notice {
	bottom: 62px;
	inset-inline: 16px;
	position: fixed;
}
