:root {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}

body {
	margin: 0;
	padding: 16px;
	padding-top: 8px;
	padding-bottom: 46.5px;
	font-family: -apple-system;
	line-height: 1.55;
}

/* Theme (for no-theme design) */

.editor-styles-wrapper {
	overflow-x: hidden;
}

.editor-styles-wrapper p {
	margin-block-start: 15px;
	margin-block-end: 15px;
	font-size: 17px;
}

.editor-styles-wrapper h2 {
	margin-block-start: 30px;
	margin-block-end: 10px;
}

.editor-styles-wrapper h3,
h4 {
	margin-block-start: 20px;
	margin-block-end: 10px;
}

.editor-styles-wrapper li {
	font-size: 17px;
	margin-bottom: 5px;
}

.rich-text:focus {
	outline: none;
}

/* Toolbar */

.gbkit-editor-toolbar {
	border-top: 0.5px solid #c8c7cc;
	background: white;
	width: 100%;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 999;
	overflow-x: scroll;

	transition: position 1.5s linear;
}

.gbkit-editor-toolbar::-webkit-scrollbar {
	display: none;
}

/* TODO: re-enable when we are ready to support Patterns and Media */
.block-editor-inserter__tablist-and-close-button {
	display: none !important;
}

.block-editor-block-toolbar {
	/* overflow: hidden !important; */
	/* Disable scrolling – scroll the wrapper div */
}

/* NOTE: this is not applicable on mobile */
.block-editor-block-mover__drag-handle {
	display: none;
}

.block-editor-inserter .block-editor-inserter__toggle {
	background: black;
	color: white;
	/* FIXME: cleanup this mess */
	clip-path: inset(4px 4px 4px 4px);
	margin: 4px 12px;
	margin-right: 8px;
	border-radius: 24px !important;
}

.block-editor-block-contextual-toolbar {
	border-bottom: 0 !important;
	/* TODO: fixme */
}

.gbkit-editor-toolbar_settings_icon {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" ?><svg enable-background="new 0 0 32 32" id="Glyph" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M27.526,18.036L27,17.732c-0.626-0.361-1-1.009-1-1.732s0.374-1.371,1-1.732l0.526-0.304  c1.436-0.83,1.927-2.662,1.098-4.098l-1-1.732c-0.827-1.433-2.666-1.925-4.098-1.098L23,7.339c-0.626,0.362-1.375,0.362-2,0  c-0.626-0.362-1-1.009-1-1.732V5c0-1.654-1.346-3-3-3h-2c-1.654,0-3,1.346-3,3v0.608c0,0.723-0.374,1.37-1,1.732  c-0.626,0.361-1.374,0.362-2,0L8.474,7.036C7.042,6.209,5.203,6.701,4.375,8.134l-1,1.732c-0.829,1.436-0.338,3.269,1.098,4.098  L5,14.268C5.626,14.629,6,15.277,6,16s-0.374,1.371-1,1.732l-0.526,0.304c-1.436,0.829-1.927,2.662-1.098,4.098l1,1.732  c0.828,1.433,2.667,1.925,4.098,1.098L9,24.661c0.626-0.363,1.374-0.361,2,0c0.626,0.362,1,1.009,1,1.732V27c0,1.654,1.346,3,3,3h2  c1.654,0,3-1.346,3-3v-0.608c0-0.723,0.374-1.37,1-1.732c0.625-0.361,1.374-0.362,2,0l0.526,0.304  c1.432,0.826,3.271,0.334,4.098-1.098l1-1.732C29.453,20.698,28.962,18.865,27.526,18.036z M16,21c-2.757,0-5-2.243-5-5s2.243-5,5-5  s5,2.243,5,5S18.757,21,16,21z" id="XMLID_273_"/></svg>');
	margin-left: 4px;
}

.gbkit-editor-toolbar .block-editor-inserter {
	border-right: 0.5px solid #c8c7cc;
}

.gbkit-editor-toolbar_toolbar-group {
	display: flex;
	align-items: center;
	gap: 8px;
	border-right: 0.5px solid #c8c7cc;
	padding-right: 12px;
}

/* Modal Sheet */

.react-modal-sheet-container {
	border-top-right-radius: 16px !important;
	border-top-left-radius: 16px !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 10px !important;
}

/* Misc */

.block-inspector-siderbar {
	background: #f6f6fbff;
	border-left: 0.5px solid #c8c7cc;
	width: 320px;
}

/* The two selectors below hide the inline inserters shown inside the block list */
.block-editor-block-list__layout .block-editor-inserter {
	display: none;
}

.block-editor-block-list__block-side-inserter-popover {
	display: none;
}

/* FIXME: this is a workaround to ensure that the images don't grow beyond the screen bounds.
There has to be a setting or any other better way of doing that.
*/
.wp-block-image div {
	width: auto !important;
}

/* Inserter (Mobile Design) */

.block-editor-inserter__menu {
	/* Fixes vertical scrolling */
	overflow-y: auto !important;
}

.block-editor-inserter__popover .block-editor-inserter__menu {
	/* Fixes margins; the editor uses negative ones here */
	margin-bottom: auto !important;
	margin-top: auto !important;
}

.block-editor-inserter__popover
	.components-dropdown__content
	.components-popover__content {
	padding: 0px !important;
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.components-input-base {
	border-radius: 8px !important;
}

.block-editor-inserter__panel-header {
	display: block;
	border-bottom: 1px solid lightgray;
	padding-bottom: 12px;
}

.components-popover__header-title {
	font-size: 17px;
	font-weight: 600;
	text-align: center;
}

.block-editor-inserter__panel-title {
	font-size: 15px;
	font-weight: 600;
	margin-left: 12px;
}

.block-editor-block-types-list__item-icon {
	scale: 1.3;
}

.block-editor-block-types-list__item-title {
	font-size: 17px;
}

/* Settings and more */

.block-editor-block-card__title {
	font-size: 17px;
	font-weight: 600;
}

.block-editor-block-card__description {
	font-size: 15px !important;
	margin-top: -4px !important;
}

.block-editor-block-inspector h2 {
	font-size: 17px !important;
	font-weight: 600 !important;
}

.block-editor-block-inspector .block-editor-block-icon {
	padding-top: 4px;
	/* padding-right: 0px; */
	margin-right: 8px;
}

.components-base-control__help {
	font-size: 13px !important;
}

.components-menu-group__label {
	font-size: 13px;
}

.components-accessible-toolbar .components-button.is-pressed::before,
.components-toolbar .components-button.is-pressed::before {
	border-radius: 8px;
}

/* .components-button.is-pressed {
	color: black !important;
} */

/* More */

.components-dropdown-menu__menu-item {
	min-height: 40px;
}

.block-editor-default-block-appender__content {
	color: gray;
}

.components-text {
	font-size: 17px;
}

.components-button {
	border-radius: 8px;
}

.components-panel__body-title {
	font-size: 15px;
}

.components-button {
	font-size: 17px;
}

.block-editor-block-card__title {
	font-size: 15px !important;
}

.components-toggle-control__label {
	font-size: 17px;
}

.components-popover__content {
	border-radius: 8px !important;
}

.components-menu-item__item span {
	font-size: 17px !important;
}

.components-base-control__label {
	font-size: 13px !important;
}

.components-placeholder {
	border-radius: 8px !important;
}

.components-placeholder__label {
	font-size: 17px !important;
}

.components-placeholder__input {
	border-radius: 6px !important;
	font-size: 17px !important;
}

.components-text-control__input {
	border-radius: 6px !important;
}

.components-base-control__label {
	color: gray;
	font-size: 13px !important;
}

.blocks-table__placeholder-form {
	gap: 16px !important;
}

/* FIXME: workaround for popover layout – should be fixed differentyl */
.components-popover.block-editor-block-switcher__popover
	.components-popover__content {
	min-width: 274px !important;
}

.is-layout-flex {
	gap: 1.5rem;
}

.is-layout-grid {
	gap: 1.5rem;
}

body .is-layout-flex {
	display: flex;
}
.is-layout-flex {
	flex-wrap: wrap;
	align-items: center;
}

.is-layout-flex > :is(*, div) {
	margin: 0;
}

body .is-layout-grid {
	display: grid;
}

.is-layout-grid > :is(*, div) {
	margin: 0;
}

.wp-block-gallery {
	--wp--style--unstable-gallery-gap: var(
		--wp--style--gallery-gap-default,
		var(--gallery-block--gutter-size, var(--wp--style--block-gap, 0.5em))
	);
	gap: var(
		--wp--style--gallery-gap-default,
		var(--gallery-block--gutter-size, var(--wp--style--block-gap, 0.5em))
	);
}

figure.wp-block-image.is-selected img {
	outline: 3px solid #434343;
	outline-offset: -2px;
}

.components-placeholder.is-medium .components-placeholder__instructions {
	display: block !important;
}
