.gutenberg-kit-editor-load-error {
	padding: 20px;
}

.gutenberg-kit-editor-load-error__heading {
	font-size: 22px;
	font-weight: 600;
}

.gutenberg-kit-editor-load-error__message {
	font-size: 16px;
}

.gutenberg-kit-editor-load-error__code {
	white-space: pre-wrap;
}
