@use "@wordpress/base-styles/variables" as wordpress;

$baseline-interactive-font-size: 17px;

// Reasonable defaults used when theme styles are unavailable
:root {
	--wp--style--global--content-size: 645px;
}

:where(body.gutenberg-kit) {
	font-family: wordpress.$default-font;
	margin: 0;
}

.gutenberg-kit-root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.gutenberg-kit {
	.block-editor-inserter__menu .block-editor-tabbed-sidebar__close-button {
		display: none;
	}

	.components-button {
		font-size: $baseline-interactive-font-size;
	}

	/* Popover */

	.components-popover__header-title {
		padding-left: 20px;
	}

	.components-popover.is-expanded .components-popover__content {
		border-radius: 0 !important;
		padding: 0 8px;
	}

	/* Misc */

	.block-settings-menu {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #ffffff;
		transform: none !important;
		position: fixed !important;
		overflow: scroll;
	}

	.block-settings-menu__header {
		display: flex;
		flex-direction: column;
		align-items: end;
	}

	.block-settings-menu__close {
		margin: 8px 8px 0px 0px;
	}

	.block-settings-menu .components-popover__content {
		width: 100%;
		min-height: 100vh;
	}

	.block-inspector-siderbar {
		background: #f6f6fbff;
		border-left: 0.5px solid #c8c7cc;
		width: 320px;
	}

	/* Inserter (Mobile Design) */

	// Inserter tab buttons
	.block-editor-tabbed-sidebar__tablist button {
		font-size: 16px;
	}

	.block-editor-inserter__menu {
		/* Fixes vertical scrolling */
		overflow-y: auto !important;
	}

	.block-editor-inserter__popover .block-editor-inserter__menu {
		/* Fixes margins; the editor uses negative ones here */
		margin-bottom: auto !important;
		margin-top: auto !important;
	}

	// Block inserter Patterns and Media list buttons
	.block-editor-inserter__menu .block-editor-tabbed-sidebar__tabpanel button {
		font-size: 16px;
	}

	// Block inserter Patterns sub-section title
	.block-editor-inserter__menu
		.block-editor-tabbed-sidebar__tabpanel
		.block-editor-inserter__patterns-category-panel-title {
		font-size: 18px;
	}

	// Block inserter Patterns item title
	.block-editor-inserter__menu
		.block-editor-tabbed-sidebar__tabpanel
		.block-editor-block-patterns-list__item-title {
		font-size: 16px;
	}

	.block-editor-inserter__popover
		.components-dropdown__content
		.components-popover__content {
		padding: 0px !important;
		padding-left: 8px !important;
		padding-right: 8px !important;
	}

	// Inserter title
	.components-popover__header-title {
		font-size: 17px;
		font-weight: 600;
		text-align: center;
	}

	// Inserter section title
	.block-editor-inserter__panel-title {
		font-size: 15px;
		font-weight: 600;
		margin-left: 12px;
	}

	.components-draggable-drag-component-root {
		display: none !important;
	}

	.components-button.block-editor-block-types-list__item {
		-webkit-tap-highlight-color: transparent;
		pointer-events: auto;
	}

	.components-button.block-editor-block-types-list__item:not(
			:disabled
		):hover::after {
		background: transparent;
	}

	.components-button.block-editor-block-types-list__item:not(:disabled):hover
		.block-editor-block-types-list__item-title {
		color: inherit !important;
	}

	.components-button.block-editor-block-types-list__item:not(:disabled):hover
		svg {
		color: inherit !important;
	}

	.block-editor-block-types-list__list-item {
		pointer-events: auto;
	}

	.block-editor-block-types-list__item {
		pointer-events: none;
	}

	// Inserter block type icon
	.block-editor-block-types-list__item-icon {
		scale: 1.3;
	}

	// Inserter block type title
	.block-editor-block-types-list__item-title {
		font-size: 17px;
	}

	/* Settings and more */

	// Block settings description
	.block-editor-block-card__description {
		font-size: 15px !important;
		margin-top: -4px !important;
	}

	// Block settings heading
	.block-editor-block-inspector h2 {
		font-size: 17px !important;
		font-weight: 600 !important;
	}

	// Block settings help line
	.components-base-control__help {
		font-size: 13px !important;
	}

	// Block settings dropdown menu section label
	.components-menu-group__label {
		font-size: 13px;
	}

	/* More */

	// Block settings title
	.block-editor-block-card__title {
		font-size: 15px !important;
	}

	// Toggle control label
	.components-toggle-control__label {
		font-size: 17px;
	}

	// Dropdown menu tab item
	.components-menu-item__item span {
		font-size: 17px !important;
	}

	// Control label
	.components-base-control__label {
		font-size: 13px !important;
		color: gray;
	}

	// Block placeholder title
	.components-placeholder__label {
		font-size: 17px !important;
	}

	.blocks-table__placeholder-form {
		gap: 16px !important;
	}

	/* FIXME: workaround for popover layout – should be fixed differentyl */
	.components-popover.block-editor-block-switcher__popover
		.components-popover__content {
		min-width: 274px !important;
	}
}

// iOS-specific styling for block settings menu
body.is-ios.gutenberg-kit {
	.block-settings-menu {
		background-color: rgba(0, 0, 0, 0.3) !important;
	}

	.block-settings-menu .components-popover__content {
		border-top-left-radius: 26px !important;
		border-top-right-radius: 26px !important;
		background-color: #ffffff !important;
	}
}
