:root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	margin: 0;
	padding: 16px;
	padding-top: 8px;
	padding-bottom: 46.5px;
	font-family: -apple-system;
	line-height: 1.55;
}

.editor-styles-wrapper {
	overflow-x: hidden;
}

.rich-text:focus {
	outline: none;
}

/* Toolbar */

.gbkit-editor-toolbar {
	border-top: 0.5px solid #c8c7cc;
	background: white;
	width: 100%;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 999;
	overflow-x: scroll;
}

.gbkit-editor-toolbar::-webkit-scrollbar {
	display: none;
}

/* TODO: re-enable when we are ready to support Patterns and Media */
.block-editor-inserter__tablist-and-close-button {
	display: none !important;
}

.lock-editor-block-toolbar {
	overflow: hidden !important; /* Disable scrolling – scroll the wrapper div */
}

/* NOTE: this is not applicable on mobile */
.block-editor-block-mover__drag-handle {
	display: none;
}

.block-editor-inserter__toggle {
	background: black;
	color: white;
	/* FIXME: cleanup */
	clip-path: inset(4px 4px 4px 4px);
	margin: 8px 12px;
	border-radius: 20px;
}

.block-editor-block-contextual-toolbar {
	border-bottom: 0 !important;
	/* TODO: fixme */
}

.gbkit-editor-toolbar_settings_icon {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" ?><svg enable-background="new 0 0 32 32" id="Glyph" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M27.526,18.036L27,17.732c-0.626-0.361-1-1.009-1-1.732s0.374-1.371,1-1.732l0.526-0.304  c1.436-0.83,1.927-2.662,1.098-4.098l-1-1.732c-0.827-1.433-2.666-1.925-4.098-1.098L23,7.339c-0.626,0.362-1.375,0.362-2,0  c-0.626-0.362-1-1.009-1-1.732V5c0-1.654-1.346-3-3-3h-2c-1.654,0-3,1.346-3,3v0.608c0,0.723-0.374,1.37-1,1.732  c-0.626,0.361-1.374,0.362-2,0L8.474,7.036C7.042,6.209,5.203,6.701,4.375,8.134l-1,1.732c-0.829,1.436-0.338,3.269,1.098,4.098  L5,14.268C5.626,14.629,6,15.277,6,16s-0.374,1.371-1,1.732l-0.526,0.304c-1.436,0.829-1.927,2.662-1.098,4.098l1,1.732  c0.828,1.433,2.667,1.925,4.098,1.098L9,24.661c0.626-0.363,1.374-0.361,2,0c0.626,0.362,1,1.009,1,1.732V27c0,1.654,1.346,3,3,3h2  c1.654,0,3-1.346,3-3v-0.608c0-0.723,0.374-1.37,1-1.732c0.625-0.361,1.374-0.362,2,0l0.526,0.304  c1.432,0.826,3.271,0.334,4.098-1.098l1-1.732C29.453,20.698,28.962,18.865,27.526,18.036z M16,21c-2.757,0-5-2.243-5-5s2.243-5,5-5  s5,2.243,5,5S18.757,21,16,21z" id="XMLID_273_"/></svg>');
}

.gbkit-editor-toolbar_toolbar-group {
	display: flex;
	align-items: center;
	gap: 8px;
	border-right: 0.5px solid #c8c7cc;
	padding-right: 12px;
}

/* Modal Sheet */

.react-modal-sheet-container {
	border-top-right-radius: 16px !important;
	border-top-left-radius: 16px !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 10px !important;
}

/* Misc */

.block-inspector-siderbar {
	background: #F6F6FBFF;
	border-left: 0.5px solid #c8c7cc;
	width: 320px;
}

/* The two selectors below hide the inline inserters shown inside the block list */
.block-editor-block-list__layout .block-editor-inserter {
	display: none;
}

.block-editor-block-list__block-side-inserter-popover {
	display: none;
}