:root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	margin: 0;
	padding: 16px;
	padding-top: 8px;
	padding-bottom: 46.5px;
	font-family: -apple-system;
	line-height: 1.55;
}

.editor-styles-wrapper {
	overflow-x: hidden;
}

.rich-text:focus {
	outline: none;
}

/* Toolbar */

.gbkit-editor-toolbar {
	border-top: 0.5px solid #c8c7cc;
	background: white;
	width: 100%;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 999;
	overflow-x: scroll;
}

.gbkit-editor-toolbar::-webkit-scrollbar {
	display: none;
}

.lock-editor-block-toolbar {
	overflow: hidden !important; /* Disable scrolling – scroll the wrapper div */
}

.block-editor-inserter__toggle {
	background: black;
	color: white;
	margin: 6px 8px;
	border-radius: 6px;
}

.block-editor-block-contextual-toolbar {
	border-bottom: 0 !important;
	/* TODO: fixme */
}

/* Modal Sheet */

.react-modal-sheet-container {
	border-top-right-radius: 16px !important;
	border-top-left-radius: 16px !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 10px !important;
}

/* Misc */

.block-inspector-siderbar {
	background: #F6F6FBFF;
	border-left: 0.5px solid #c8c7cc;
	width: 320px;
}